@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background: #fcfdff;
}
/* HEADER START */

.NavHeader {
  height: 40px;
  background: #1498ff;

  & marquee {
    padding: 8px;
    color: white;
  }
}

.navModal {
  z-index: 100;
  width: 370px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -80%;
  background: #ffffff;
  transition: 1s ease-in-out;
  /* display: none; */

  .modal-head {
    background-color: #48afff;
    padding: 2.5rem 2rem;
    position: relative;

    & i {
      position: absolute;
      top: 30%;
      left: 80%;
      transform: translate(-50%, -50%);
    }

    & h1 {
      color: white;
      font-size: 1.4rem;
    }

    & button {
      font-size: 14px;
      border: 1px solid #fff;
      padding: 6px 24px;
      background: #fff;
      color: #0091ff;
      border-radius: 5px;
      margin: 15px 0;
      transition: 0.3s;
    }
    & button:hover {
      border: 1px solid #eee;
      background-color: transparent;
      color: #eee;
      transform: scale(1.02);
    }
  }

  .byPriceInNav {
    padding: 30px;

    & button {
      padding: 4px 10px;
      font-size: 14px;
      width: fit-content;
    }
  }
}

.categoriesInNavBar h2 {
  padding: 20px 0px 0px 30px;
}

.cateList {
  font-size: 13px;
  display: none;
}
.category label {
  width: 160%;
  padding: 6px 0;
  border-bottom: 1px solid #daddda;
}
.category input {
  visibility: hidden;
}
.cateList ul li {
  width: 160%;
  line-height: 1.8;
}
.cateList ul li a {
  color: #666;
}
.cateList ul li:hover {
  background-color: #eee;
}
.category {
  margin-top: 10px;
}
.category input:checked ~ .cateList {
  display: block;
}

.overlay {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0%;
  top: 0;
  z-index: 1;
  background-color: #262626;
  transition: 0.2s linear;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 768px) {
  .nav-btns {
    display: none;
  }
}
/* 
@media screen and (max-width: 768px) {
  .navModal{
    display: block;
  }
} */
/* NavBar END */

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  padding: 0 12%;
  max-width: 100%;
  background-color: #ffffff;
  margin-bottom: 16px;

  .sub-category {
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12px;
    cursor: pointer;

    & img {
      width: 45px;
      margin-bottom: 8px;
    }

    & p {
      font-size: 12px;
    }
  }
}

.sub-category:hover {
  background: #d7d9db4d;
  border-bottom: 3px solid #48afff;
}

/* ------------------ Header Section  --------------------- */

.Slider {
  position: relative;
}

#slickBtnNext {
  position: absolute;
  top: 48%;
  right: 2%;
  transform: translate(-50%, -50%);
  padding: 10px 5px;
  font-size: 22px;
  color: #444;
  z-index: 1;
  transition: 0.3s linear;
  cursor: pointer;
}

#slickBtnPrev {
  position: absolute;
  top: 45%;
  left: 2%;
  padding: 10px 5px;
  font-size: 22px;
  color: #444;
  z-index: 1;
  transition: 0.3s linear;
  cursor: pointer;
}
#slickBtnNext:hover,
#slickBtnPrev:hover {
  color: #111;
}

.headerImageDiv {
  max-height: max-content;
  width: 100%;
  background-image: url("/hero-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 92vh;
  overflow: hidden;
}

.headerImageDiv2 {
  max-height: max-content;
  width: 100%;
  background-image: url("/hero-2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 92vh;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  #slickBtnNext {
    right: 1%;
    color: gray;
  }
  #slickBtnPrev {
    left: 1%;
    color: gray;
  }
}

/* ----------------- Header Section Ends ------------------- */

/* ----------------- LATEST CATEGORY 01 ----------------------- */

.main-cards {
  max-width: 1200px;
  margin: auto;

  .card {
    padding: 0 12px;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 11px;
    background: #ffffff;
    transition: 0.3s linear;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .imgDiv {
      width: 100%;
      height: 130px;
      padding: 10px;
    }

    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.card-info {
  padding: 18px 8px;

  @media screen and (max-width: 425px) {
    & h3 {
      font-size: 13px;
      margin-bottom: 8px;
    }
    & p {
      font-size: 12px;
      margin-bottom: 2px;
    }
    .cutPrice {
      font-size: 11px;
    }
    & span {
      color: red;
      font-size: 9px;
    }
  }
}

.card-info .card-title {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #252525de;
  white-space: pre-line;
  height: max-content;
  margin-bottom: 18px;
  overflow: hidden;
  font-weight: 500;
  transition: 0.2s linear;
}
.card-info .card-title:hover {
  color: #12538d;
}

.card-info p {
  color: #07121bca;
  margin-bottom: 6px;
}

.card-info span {
  font-size: 14px;
  border: 1px solid #0080801e;
  padding: 1px 8px;
  border-radius: 5px;
  background: #0080801b;
  color: #008080ba;
  font-weight: 300;
}

.main-cards .slide-card .card:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 425px) {
  .main-cards {
    padding: 0 2%;
  }
}
/* ----------------- LATEST CATEGORY 01 ENDS ----------------------- */
/* ----------------- BEST SELLER 01 ----------------------- */

.bSellerInfo {
  text-align: center;
  color: #404040;
  padding: 20px 0;

  & h2 {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 1.4rem;
    color: #034780;
  }
  & p {
    font-size: 0.9rem;
  }
}

.best-seller-main {
  padding: 2% 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .seller-wrapper {
    box-shadow: 0px 0px 15px #00000033;
    border-radius: 10px;
    padding: 20px 2rem;
    max-height: 100%;
    width: 100%;
    position: relative;

    .bSellerPrice h3 {
      font-size: 14px;
    }

    .bSellerSubPrice {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;

      & span:nth-child(1) {
        text-decoration: line-through;
      }

      & span:nth-child(2) {
        text-decoration: none;
        color: #0091ff;
        padding: 4px 12px;
        border-radius: 8px;
      }
    }

    .bSellerTitle {
      margin-bottom: 30px;
      font-size: 1.2rem;
      font-weight: 600;
    }

    & img {
      padding: 18px;
      width: 22rem;
    }
  }

  .b-seller-inner {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .sub-seller-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 8px;
      box-shadow: 0px 0px 15px #00000033;
      border-radius: 8px;
      position: relative;

      & img {
        width: 4rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .b-seller-inner {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .best-seller-main {
    gap: 10px;
    border: solid;
    grid-template-columns: 1fr;
  }
}

/* ----------------- BEST SELLER 01 ENDS ----------------------- */

.shopByPriceBtn {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;

  .myBtn {
    flex-grow: 1;
    border: 1px solid #48afff;
    color: #0091ff;
    padding: 8px;
    border-radius: 4px;
    position: relative;
  }
  :hover {
    color: white;
    transition: 0.3s ease-in;
  }
}

.myBtn::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0091ff;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.myBtn:hover::after {
  width: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  color: #fff;
}

.shopByBrandBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;

  .brandDiv {
    display: flex;
    flex-direction: column;
    height: 120px;
    max-height: 140px;
    justify-content: space-between;
    align-items: center;

    & img {
      width: 75px;
    }

    & p {
      color: #404040;
    }
  }
}

@media screen and (max-width: 768px) {
  .shopByBrandBtn {
    padding: 4% 6%;
  }
}

.globalTitle {
  max-width: 1200px;
  margin: auto;
  font-weight: 500;
  padding: 10px 0;
  font-size: 20px;
}
.InstallmentBanner {
  padding: 2% 0;
}

/* ----------------- OTHER SECTION 01 STARTS ----------------------- */

.section {
  background-color: #ffffff;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 30px 8%;

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & img {
    width: 100%;
    height: 70px;
    margin-bottom: 14px;
  }
  & p {
    font-weight: 600;
  }
  & p:nth-child(3) {
    font-weight: 400;
    color: rgba(7, 18, 27, 0.6);
    font-size: 14px;
  }
}

/* ----------------- OTHER SECTION 01 ENDS ----------------------- */
/* ----------------- FOOTER START ----------------------- */

.footer {
  background: #0091ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 6%;

  .footer-col-1 {
    & img {
      width: 10rem;
    }
    & ul {
      margin-top: 30px;
    }

    & ul li a {
      font-size: 13px;
      color: white;
      position: relative;
      top: 0;
      left: 0;
      transition: 0.3s ease-in;
      line-height: 2;
    }
    & a:hover {
      letter-spacing: 1px;
      color: #07121b;
    }
  }

  .footer-col-2 {
    & h1 {
      color: white;
      font-size: 18px;
    }

    & .linkDiv {
      margin-top: 30px;

      & a {
        /* margin-top: 30px; */
        display: flex;
        color: white;
        font-size: 13px;
        line-height: 2.1;
        transition: 0.3s linear;
      }
      & a:hover {
        letter-spacing: 1px;
        color: #07121b;
      }
    }
  }
  .footer-col-3 {
    & h1 {
      color: white;
      font-size: 18px;
    }
    & img {
      width: 12rem;
      margin-top: 20px;
    }
    .img1 {
      width: 18rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* ----------------- FOOTER ENDS ----------------------- */

.defaultPara {
  font-size: 14px;
  color: #666;
  max-width: 1200px;
  margin: auto;
}

/* Dashboard -------------- */
.backCover {
  /* background: linear-gradient(90deg, #fafafa 20px, transparent 1%) 50%,
    linear-gradient(#fafafa 20px, transparent 1%) 50%, #c7c4c4;
  background-size: 22px 22px; */
  padding: 40px 0;
  max-height: 100%;
}

.dash-wrapper {
  margin: 0 4%;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 20px 0 rgba(28, 9, 80, 0.15);
}
.filterBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .innerInput {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;

    & input {
      width: 100%;
      font-size: 14px;
      color: darkcyan;
      margin-right: 70px;
      border-radius: 8px;
      padding: 12px 85px 12px 8px;
      border: 1px solid #00000020;
    }
    & :focus {
      outline: none;
      font-size: 14px;
      border: 1px solid darkcyan;
    }
    & button {
      background-color: darkcyan;
      padding: 8px 16px;
      color: white;
      border: none;
      border-radius: 8px;
      position: absolute;
      top: 45%;
      left: 65%;
      transform: translate(-50%, -50%);
    }
    & :hover {
      opacity: 0.9;
    }
  }
}
.dash-wrapper .mainTitle {
  color: #444;
  padding: 0 6%;
  font-size: 32px;
  font-weight: 600;
  margin: 14px 12px;
}
.dash-wrapper .mainTitle span {
  color: darkcyan;
}

.cate-buttons {
  gap: 10px;
  margin: 1% 0;
  padding: 0 6%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & button {
    padding: 6px;
    flex-grow: 1;
    font-size: 15px;
    color: #292d34;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    background-color: #00000023;
  }
  & :hover {
    background-color: darkcyan;
    color: white;
  }
}

.dasboard-Main {
  height: 100%;
  padding: 1% 6% 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}
.das-col {
  width: 100%;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  border: 1px solid #00000020;
}
.das-sub-col {
  gap: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.das-sub-col .das-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.das-col .das-info .cate {
  line-height: normal;
  font-size: 13px;
  background-color: lightseagreen;
  padding: 2px 6px;
  color: white;
  border-radius: 10px;
}
.das-col .das-info .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  max-width: 20vw;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
}
.das-col .action {
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.3s ease-in;
}
.das-col:hover .action {
  opacity: 0.8;
}
.das-col .action i {
  color: gray;
  margin: 8px;
}
.das-col .action i:nth-child(3) {
  color: red;
}
.das-col .action i:hover {
  opacity: 1;
  cursor: pointer;
}

/* Dashboard -------------- */

/* shopping cart ------------- */
.cartMain {
  max-width: 1200px;
  margin: auto;
  margin: 20px 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.globalShadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.OrderDivMain {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
}
.OrderDivMain .orderFlex {
  display: flex;
  justify-content: space-between;
}

/* shopping cart ends ------------- */
/* Search Bar  */
.addFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & input {
    padding: 6px 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid white;
    font-size: 14px;
  }
  & input:focus {
    border-bottom: 1px solid #0091ff;
    color: #0091ff;
  }
  & i {
    color: #555;
    font-size: 22px;
    cursor: pointer;
  }
}

.searchItems {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #00000017;
  padding-bottom: 10px;

  & img {
    width: 50px;
    mix-blend-mode: multiply;
  }
}

.search-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & h2 {
    font-size: 14px;
  }

  & button {
    text-align: left;
    width: max-content;
    padding: 0px 10px;
    background-color: #0091ff28;
    color: #0091ffda;
    font-weight: 300;
    font-size: 14px;
    border-radius: 4px;
  }
}
/* Search Bar  */

/* Aside Animation Button */
.asideAnimate {
  animation-name: slide;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slide {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(4px);
  }
  100%{
    transform: translateX(0px);
  }
}



.dashboardSearchSlide {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}